footer{
    background-color: #0d91fd; 
}

#botonheader {
    background-color: #0d91fd; 
}

#logo {
    position: relative;
}

#section1{
    color: rgb(149, 255, 0);
}

#section2{
    color: rgb(230, 255, 4);
}

#sectionEvents{
    color: rgb(230, 255, 4);
}

#divEvents {
    padding-bottom: 6em;
}

.map-container-5{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-container-5 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.margenes{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.margenes2{
    margin-left: 15%;
    margin-right: 15%;
}

#margenes2{
    margin-left: 15%;
    margin-right: 15%;
}
.margenes3{
    margin-top: 3%;
    margin-bottom: 5%;
}


body{
    background: rgb(33,37,41);
    background: linear-gradient(163deg, rgba(33,37,41,1) 26%, rgba(86,110,255,1) 51%, rgba(0,100,182,1) 73%);
}

#rowregalo{
    background: transparent;
}
 #colorrowregalo{
     color:rgb(182, 197, 49);
 }

  body {
    background-color: #eee
}

#cajacookies {
    box-shadow: 0px 0px 5px 5px #5c5a5c;
    background-color: rgb(3, 2, 2);
    color: rgb(226, 225, 231);
    padding: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    position: fixed;
    top: 900px;
    width: 100%;
  }
.boton{
      color:#0d91fd;
  }

.centerallc{
    text-align: center;
}



.centerallc{
    text-align: center;
}

#imgcA {
    display: block;
    margin: 0 auto;
    max-height: 100%;
    height: 100%;
  }

  

  .video{
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
@media (max-width: 768px){

    .video{

    display: block;
    margin: 0 auto;
    height: 100%;
  

    }
}
@media (min-width: 768px){

    .video{

    display: block;
    margin: 0 auto;


    }
}